:root {
        --blue: darkblue;
        --red: crimson;
        --green: #00A36C;
        --orange: darkorange;
        --light-blue: #1e90ff;
}


h2 {
        color: var(--blue);
}

span {
        display: inline-block;
}

#actions {
        width: 250px;
}

button,
input,
label,
textarea {
        margin: 10px;
        padding: 5px;
        width: 150px;
}

select {
        margin: 10px;
        padding: 5px;
        width: 162px;
}

button,
label {
        display: block;
}

button:hover {
        background-color: var(--orange);
        color: white;
}

#deleteAllTodos:hover {
        background-color: var(--red);
        color: white;
}


textarea {
        width: 350px;
}

input,
select {
        text-align: center;
}

#form span {
        display: inline-block;
        width: 100px;
        color: var(--blue);
        margin: 10px;
}

/* TODOs */

#todos {
        width: 400px;
        vertical-align: top;
        font-size: 1em;
}

#todos .name {
        font-size: 1.4em;
        font-weight: bold;
}

[class*=priority-] {
        cursor: pointer;
        color: white;
        text-align: center;
        margin-top: 10px;
}

.priority-1-todo {
        background-color: var(--red);

}

.priority-2-todo {
        background-color: var(--orange);

}

.priority-3-todo {
        background-color: var(--green);
}

.delete {
        padding: 0px 3px;
        border: 1px solid black;
        float: right;
        cursor: pointer;
}

.todo-id {
        padding: 0px 3px;
        border: 3px solid black;
        float: left;
        cursor: pointer;
}